*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: 'Roboto',sans-serif;
    position: relative;
}
p{
    margin-top: 10%;
    font-size: 3rem;
    padding: 3% 5%;
}

button.btn{
    font-size: 1rem;
    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0 5px;
}
/* button decrease style */
button.btn-decrease {
    color: #ffffff;
    background-color: red;
    font-size: 16px;
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px 30px;
    letter-spacing: 1px;
    cursor: pointer
}
button.btn-decrease:hover {
    color: #dc0404;
    background-color: #ffffff;
}

/* button reset style */
button.btn-reset {
    color: #ffffff;
    background-color: black;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 30px;
    letter-spacing: 1px;
    cursor: pointer
}
button.btn-reset:hover {
    color: black;
    background-color: #fff;
}

/* button increase style */
button.btn-increase {
    color: #ffffff;
    background-color: green;
    font-size: 16px;
    border: 1px solid green;
    border-radius: 15px;
    padding: 10px 30px;
    letter-spacing: 1px;
    cursor: pointer
}
button.btn-increase:hover {
    color: green;
    background-color: #ffffff;
}